* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-222);
}

/* color list */
:root {
    --color-666: #666; /* cgv 로그인 ~ 고객센터 폰트 컬러*/
    --color-black: #000;
    --color-222: #222; /*cgv font color*/
}

/* 공통 요소 */
.main-content-title {
    font-size: 26px;
    font-weight: 700;
}

:root {
    /* color list */
    /* 공통적으로 사용되는 색상, 글자 스타일 등은 전체 css 지정하여 class 사용 */
    --color-primary: rgb(77, 77, 77);
    --color-black: #050a13;
    --color-white: #fff;
    --color-border: red;
    --color-silver: silver;
    --color-footer-bg: rgb(248. 248, 248);
    --color-moviechart: rgb(251. 251, 251);
    --color-gray-222: rgb(222, 222, 222);
    --color-bg-248: rgb(248, 248, 248);
    --color-button: rgb(251, 67, 87);
    --color-login-font: rgb(137, 137, 135);
    --color-666: #666; /* cgv 로그인 ~ 고객센터 폰트 컬러*/
    --color-black: #000;
    --color-222: #222; /*cgv font color*/
}
/* 콘텐츠 가운데 정렬 */
.center-layout {
    /* border: 1px solid tomato; */
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.center-title {
    /* border: 1px solid blue; */
    padding: 40px 15px 10px;
    margin-bottom: 40px;
}

/* index-preview-button-style */
.total-view-button {
    padding: 5px 10px;
    position: absolute;
    right: 0;
    border: 1px solid var(--color-silver);
    border-radius: 15px;
    background-color: var(--color-white);
}

.btn-main-color {
    background-color: var(--color-button);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    font-weight: bold;
}

/* moviechart, event, special title style */
.content-title-style {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: var(--color-black);
    font-size: 26px;
    font-weight: 700;
}
.content-title-style-font {
    color: var(--color-black);
    font-size: 26px;
    font-weight: 700;
}
.font-color-main {
    color: var(--color-primary)
}
/* 글자 설정 */
.content-title-h3 {
    font-size: 18px;
    text-align: center;
    padding: 5px 0;
}
.content-title-h5 {
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    color: var(--color-primary);
}

/* 패키지 ~ 기프트카드 글자 */
.package-title {
    font-size: 1.2em;
    font-weight: 600;
}