/******************************************
* title: header style
* author: yuna
* final date : 2024/10/24
*******************************************/
header {
    /* border: 1px solid var(--color-border); */
    width: 1000px;
    height: 150px;
    margin: 0 auto;
}
.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top ul, .header-bottom ul { /* li에 설정할 경우 ul 전체에 적용되지 않으므로 유의할 것 */
    /* border: 1px solid green; */
    display: flex;
    list-style-type: none;
}
.header-top {
    padding: 20px 0px;
}
.header-top-logo {
    width: 310px;
    /* border: 1px solid blue; */
    position: relative;
}
.header-top-logo > a > img {
    width: 120px;
}
.header-top-logo > span {
    position: absolute;
    top: 30px;
    left: 120px;
    letter-spacing: 3px;
    font-weight: 500;
}
/* .header-top ul li {
    padding: 25px 10px;
    background-color: aqua;
} */
.header-top ul li a {
    padding: 25px 10px;
    /* background-color: aqua; */
    text-decoration: none;
    color: var(--color-primary);
}
.header-bottom dl {
    display: none;
}
.header-bottom {
    /* border: 1px solid silver; */
    height: 40px;
}
.header-bottom li {
    padding: 10px 25px;
}
.header-bottom li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-black);
}

/******************************************
* title: footer style
* author: yuna
* final date : 2024/10/24
*******************************************/
