/* /******************************************
* title: header style
* author: yuna
* final date : 2024/10/24
*******************************************/
header {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    border-bottom: 2px solid red;
}
.header-top, .header-bottom-content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top ul, .header-bottom ul { /* li에 설정할 경우 ul 전체에 적용되지 않으므로 유의할 것 */
    /* border: 1px solid green; */
    display: flex;
    list-style-type: none;
}
.header-top {
    /* border: 1px solid red; */
    padding: 20px 0px;
}
.header-top-logo {
    width: 310px;
    /* border: 1px solid blue; */
    position: relative;
}
.header-top-logo > a > img {
    width: 120px;
}
.header-top-logo > span {
    position: absolute;
    top: 30px;
    left: 120px;
    letter-spacing: 3px;
    font-weight: 500;
}
/* .header-top ul li {
    padding: 25px 10px;
    background-color: aqua;
} */
.header-top ul li a {
    /* padding: 25px 10px; */
    /* background-color: aqua; */
    text-decoration: none;
    color: var(--color-primary);
}
.header-top > nav {
    /* border: 1px solid green; */
}
.header-top > nav > ul li{
    margin-left: 44px;
}
.header-menu-icon {
    /* border: 1px solid red; */
    display: block;
    width: 36px;
    height: 54px;
    position: relative;
    /* overflow: hidden; */
}
.header-menu-icon img {
    /* border: 1px solid blue; */
    width: 36px;
    height: 36px;
}
.header-menu-icon span {
    /* border: 1px solid blue; */
    /* display: inline-block; */
    position: absolute;
    width: 55px;
    bottom: 0;
    left: -5px;
    font-size: 13px;
    font-weight: bold;
}
.header-top-card {
    /* border: 1px solid red; */
    position: relative;
    left: 130px;
}
.header-bottom {
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border-top: 1px solid silver;
}
.header-bottom dl {
    display: none;
}
.header-bottom li {
    padding: 10px 25px;
}
.header-bottom li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-black);
}
.header-bottom-search {
    /* border: 1px solid red; */
    width: 230px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
}
.header-bottom-search input {
    width: 80%;
    border: none; /* focus 되었을 때만 border가 나타남 */
    padding: 5px;
}

/******************************************
* title: footer style
* author: yuna
* final date : 2024/10/24
*******************************************/
footer {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: var(--color-footer-bg);
}
.footer-content-top {
    background-color: rgb(242, 135, 36);
    height: 180px;
}
.footer-content-top img {
    margin-top: -60px;
}/* 이미지 잘림 */
.footer-content {
    width: 1000px;
    margin: 0 auto;/* margin으로 중앙 정렬하는 방법 잊지 말 것 */
}
.footer-intro > ul {
    /* border: 1px solid red; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid var(--color-silver);
}
.footer-intro ul a {
    font-size: 13px;
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: none;
}
.footer-intro ul li:nth-child(8) a {
    color: var(--color-black);
    font-weight: bolder;
    text-decoration: underline;
}
ul a:hover {
    text-decoration: underline;
}
.footer-intro div {
    color: var(--color-primary);
    font-size: 12px;
    font-weight: 600;
    padding: 3px 0;
}
.p {
    margin-top: 20px;
}
.p2 {
    margin-bottom: 20px;
}
.p2 > a {
    text-decoration: none;
    color: var(--color-primary);
    cursor: text;
}

/******************************************
* title: content style
* author: yuna
* final date : 2024/10/24
*******************************************/
.content, .content-top, .content-moviechart {
    width: 100%;
    /* margin: 100px; */
}
.content-top {
    background-color: #000;
    position: relative;
    top: -4px;
}
.content-top iframe, /* index content들 가운데 정렬*/
.content-moviechart > div,
.content-event-special {
    display: block;
    width: 1000px;
    margin: 0 auto;
}
.content-moviechart {
    padding: 20px 0;
    background-color: var(--color-bg-248);
}
.content-moviechart-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.content-moviechart-title > div {
    position: relative;
    /* border: 1px solid blue; */
    width: 250px;
}
.content-moviechart-title > div > span {
    font-size: 1.4em;
    font-weight: 600;
}
/*index 각 섹션 타이틀 */
.content-moviechart-title > div > span:first-child { 
    color: var(--color-black);
    font-size: 26px;
    font-weight: 700;
}
.content-moviechart-title > div > span:last-child { 
    color: var(--color-primary);
    font-size: 26px;
    font-weight: 700;
    position: absolute;
    right: 0;
}
.content-moviechart-title > div > span:first-child + span {
    display: inline-block;
    width: 1px;
    height: 15px;
    font-size: 20px;
    background-color: var(--color-silver);
    position: absolute;
    top: 10px;
    left: 45%;
    /* border: 1px solid red; 
    이부분은 추후 span 태그 전부 div로 바꾸고 before, after 기능 사용하여 수정해볼 것*/
}
/* .content-moviechart-title div:last-child button {
    padding: 5px 10px;
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    position: absolute;
    right: 0;
} */

/* 무비차트/상영예정작 리스트 */
.content-moviechart-list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.content-moviechart-list ul li {
    padding: 15px;
}
.content-moviechart-list ul li:first-child {
    padding: 15px;
    padding-left: 0;
}
.content-moviechart-list ul li:last-child {
    padding: 15px;
    padding-right: 0;
}
.content-moviechart-list ul li img {
    border-radius: 10px;
    width: 170px;
}
.content-moviechart-list ul h3 {
    text-align: center;
    padding: 5px 0;
}
.content-moviechart-list ul h5 {
    text-align: center;
    padding-top: 3px;
    color: var(--color-primary);
}

/* 이벤트 ~ 패키지 섹션 */
.content-event-special section:first-child {
    /* border: 1px solid red; */
    margin: 50px 0;
}
.content-event-special section:first-child > div {
    /* border: 1px solid blue; */
    display: flex;
    position: relative;
}
.content-event-list {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.content-event-list > li img {
    /* border: 1px solid green; */
    border-radius: 10px;
    width: 315px;
}/* 이미지 hover 넣어보기 */
.content-event-list > li h3 {
    padding: 5px 0;
}
.content-event-list > li h5 {
    color: var(--color-primary);
}

/* 특별관 */
.content-event-special section:nth-child(2) {
    /* border: 1px solid red; */
    margin: 50px 0;
}
.content-event-special section:nth-child(2) > div:first-child {
    display: flex;
    position: relative;
}
.special-content-list {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}
.special-content-list ul {
    list-style-type: none;
    width: 450px;
    position: relative;
}
.special-content-list img {
    width: 500px;
}
.special-content-list ul li {
    border-top: 1px solid var(--color-silver);
    /* border-radius: 10px; */
    padding: 17px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.special-content-list ul li:last-child {
    border-bottom: 1px solid var(--color-silver);
}
.special-content-list ul li:hover {
    border: 1px solid black;
    border-radius: 10px;
}
.special-content-list ul li:hover + li {
    border-top: none; /*white로도 가능*/
}
    span.special-content-list-title {
    font-size: larger;
    font-weight: bold;
    /* letter-spacing: 1px; */
}
span.special-hashtag {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-bg-248);
    font-size: small;
    color: var(--color-primary);
}

/* 패키지 ~ 기프트카드 */
.content-package-list {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}
.package-content-border {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
}
.package-content-border div {
    margin-bottom: 20px;
    position: relative;
}
.package-title-button {
    position: absolute;
    right: 0;
    border: 1px solid var(--color-silver);
    background-color: var(--color-white);
    padding: 2px 7px;
    color: var(--color-primary);
    border-radius: 15px;
}
.package-content-border ul {
    list-style-type: none;
}
.package-content-border ul li {
    border: 1px solid red;
    display: flex;
    align-items: center; /* 수평 정렬 안 됨 */
    padding: 10px 0;
}
.package-content-border ul li div {
    margin-left: 10px;
}
.package-content-title {
    font-size: small;
    font-weight: bold;
}
.package-content-price {
    font-weight: 900;
}

/* 공지사항 ~ 앱 다운로드 */
.notice-content-list, .notice-content-list > div:first-child {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notice-content-border {
    border: 1px solid silver;
    border-radius: 10px;
    width: 770px;
    height: 230px;
    margin-bottom: 60px;
    padding: 20px;
    font-size: small;
}
.notice-content-notice {
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
}
.notice-content-notice > button {
    border: 1px solid var(--color-silver);
    background-color: var(--color-white);
    padding: 2px 7px;
    color: var(--color-primary);
    border-radius: 15px;
}
.notice-content-notice .notice-content-border-title,
.notice-content-support span.notice-content-border-title {
    /* border: 1px solid blue; */
    margin-right: 15px;
}
.notice-content-support {
    padding: 20px 0;
    display: flex;
}
.notice-content-support div p {
    margin-bottom: 5px;
}
.notice-content-faq {
    padding-top: 20px;
    /* border: 1px solid blue; */
}
.notice-content-faq a span {
    color: black;
    font-weight: 600;
}
.notice-content-border-title {
    font-weight: bold;
}
.notice-content-app {
    /* border: 1px solid red; */
    text-align: center;
}
.notice-content-app span {
    font-size: medium;
}
.notice-content-app img {
    width: 60px;
    margin: 20px 0;
}
.notice-content-list div:last-child div img {
    border-radius: 10px;
    width: 200px;
    padding-top: 0;
}

/******************************************
* title: login form
* author: yuna
* final date : 2024/10/28
*******************************************/
.login-form {
    margin-top: 30px;
}
.login-form form {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: var(--color-login-font);
}
.login-form form div:first-child {
    width: 541px;
}
.login-form form div:first-child ul {
    list-style-type: none;
}
.login-form form div:first-child ul:first-child {
    display: flex;
}
.login-form form div:first-child ul:nth-child(2) {
    /* border: 1px solid blue; */
    margin-top: 0;
    border-top: 3px solid var(--color-login-font);
    border-bottom: 3px solid var(--color-login-font);
}
.login-form form div:first-child ul:first-child li {
    /* border: 1px solid blue; */
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.login-form form div:first-child ul:first-child li a {
    width: 100px;
    height: 37px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-bottom: none;
    border-left: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--color-white);
    text-decoration: none;
    background-color: var(--color-login-font);
    font-size: small;
    font-weight: bold;
}
.login-form form div:first-child ul:first-child li:first-child a {
    background-color: var(--color-button);
}
.login-form ul li {
    padding: 10px;
}
.login-form input:not(input[type="checkbox"]) {
    width: 200px;
    padding: 10px 10px 10px 20px;
}
.login-form button {
    width: 263px;
    padding: 10px;
    outline-style: solid;
    outline-color: var(--color-button);
}
.login-form ul > li:nth-child(5) {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.login-form ul > li:nth-child(5) > div:last-child > :nth-child(2) {
    padding-right: 2px;
}
.login-form ul > li:nth-child(5) > div:last-child > a {
    color: var(--color-login-font);
    font-weight: 700;
}

/******************************************
* title: join form style
* author: yuna
* final date : 2024/10/29
*******************************************/
.join-form {
    /* border: 1px solid red; */
}
.join-form > div > h1 {
    margin: 0;
    padding-left: 0;
}
.join-form > div > p {
    /* border: 1px solid blue; */
    margin-bottom: 10px;
}
.join-form > div, .join-form > form {
    width: 400px;
    margin: 0 auto;
}
.join-form ul {
    list-style-type: none;
}
.join-form ul li {
    /* border: 1px solid tomato; */
    padding-top: 10px;
}
.join-form ul li div:not(.join-form ul li:nth-child(6) div) {
    border: 1px solid var(--color-silver);
    border-radius: 5px;
    padding: 3px 10px;
}
.join-form ul li:nth-child(6) input,
.join-form ul li:nth-child(6) select {
    border: 1px solid var(--color-silver);
    border-radius: 5px;
    padding: 10px;
}
.join-form ul li:first-child > div, .join-form li:nth-child(6) > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join-form ul li label {
    display: inline-block; /* 마진, 들여쓰기 등은 인라인일 때 적용되지 않는 것 기억하기 */
    margin-right: 10px;
    text-indent: 7px; /* 들여쓰기 */
    font-size: 0.9em;
    font-weight: 700;
    color: var(--color-primary);
}
.join-form ul li label + span {
    font-size: 0.8em;
    font-weight: 500;
    color: red;
}
.join-form ul li > div {
    padding-top: 5px;
    padding-bottom: 5px;
    /* height: 40px; */
}
.join-form ul li > div > input {
    border: none;
    /* width: 310px; */
}
.join-form ul li:first-child input {
    width: 70%;
    padding: 7px 10px;
}
.join-form ul li:nth-child(6) input {
    width: 40%;
    padding: 7px 10px;
}
.join-form ul li:nth-child(6) select {
    width: 40%;
    padding: 7px 10px;
}
.join-form ul li:nth-child(6) span {
    margin: 0 20px;
}
.join-form ul li input:focus { /*커서가 올라갔을 때 작업 설정*/
    outline: none;
}
.join-form ul li > div > input {
    /* border: 1px solid red; */
    width: 100%;
    height: 30px;
    padding-left: 10px;
}
.join-form ul li:first-child > div > button,
.join-form ul li:last-child > button {
    margin: 0;
    width: 100px;
    padding: 7px 0;
    border: none;
    color: var(--color-white);
    background-color: var(--color-button);
}
.join-form ul li:last-child > button[type="reset"] {
    margin-left: 5px;
    padding: 7px 0;
    width: 100px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-primary);
}
.join-form ul li:first-child > div > button {
    border-radius: 5px;
}
.join-form ul li:last-child {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/******************************************
* title: mycgv style
* author: yuna
* final date : 2024/10/29
*******************************************/

.mycgv div {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
}
.mycgv div span {
    display: inline-block;
    width: 200px;
    padding: 20px;
    margin: 30px 20px;
    text-align: center;
    color: var(--color-white);
    border: 1px solid red;
    background-color: var(--color-button);
}
.mycgv div span:hover {
    background-color: lightpink;
}

/******************************************
* title: notice/news style
* author: yuna
* final date : 2024/10/29
*******************************************/
.support .center-title {
    /* border: 1px solid red; */
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    color: var(--color-primary);
}
.support-content {
    /* border: 1px solid red; */
    width: 800px;
    margin: 0 auto;
}
.support-content > p:first-child {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-primary);
}
.support-content div {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.support-content div select {
    width: 100px;
}
.support-content div select:hover {
    outline: none;
}
.support-content div select,
.support-content div input {
    border: 1px solid var(--color-primary);
    padding: 5px 3px;
    margin: 5px 5px 5px 0;
}
.support-content div button {
    left: 280px;
    top: 5px;
    /* padding: 3px 10px; */
    width: 70px;
    height: 25px;
    color: #fff;
    background-color: #000;
    border: 1px solid var(--color-primary);
    outline: 1px solid #000;
}
.support-content nav {
    border-bottom: 1px solid var(--color-login-font);
    margin: 10px 0;
    z-index: 1;
}
.support-content nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}
.support-content nav ul li a {
    /* border: 1px solid red; */
    display: inline-block;
    align-items: center;
    width: 90px;
    padding: 10px 0;
    margin: 0 3px 0 0;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: var(--color-white);
    background-color: var(--color-login-font);
}
.support-content nav ul li:first-child a {
    /* border: 1px solid red; */
    background-color: var(--color-button);
    z-index: 2;
}
.support-content p { 
    color: var(--color-primary);
    margin: 10px 0;
}
.support-content table {
    /* border: 1px solid green; */
    border-collapse: collapse; /* 중요 */
    width: 100%;
    color: var(--color-primary);
}
.support-content table th, .support-content table td {
    /* height: 40px; */
    padding: 10px 0;
}
.support-content table thead th:first-child {
    width: 10%;
}
.support-content table thead th:nth-child(3) {
    text-align: left;
}
.support-content table thead th:nth-child(2),
.support-content table thead th:nth-child(4) {
    width: 15%;
}
.support-content table thead th:last-child {
    width: 10%;
}
.support-content table > thead {
    border-top: 1px solid var(--color-silver);
    border-bottom: 1px solid var(--color-silver);
    background-color: rgb(248, 248, 248);
}
.support-content table > tbody {
    border-bottom: 1px solid var(--color-silver);
}
.support-content table > tbody tr td:not(.support-content table > tbody tr td:nth-child(3)) {
    /* border: 1px solid red; */
    text-align: center;
}
.support-content table > tbody td:nth-child(3) a {
    text-decoration: none;
    color: var(--color-primary);
}
.support-content table > tbody td:nth-child(3) a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.support-content table > tfoot td {
    /* border: 1px solid green; */
    padding: 20px 0;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 5px;
}