.form-container {
    /* border: 1px solid red; */
    width: 600px;
    margin: 0 auto;
}

h1 {
    padding: 10px 0;
}

/* form {
    border: 1px solid blue;
    width: 300px;
} */

ul {
    list-style-type: none;
}

ul > li:not(:last-child) {
    display: flex;
    /* justify-content: space-between; */
}

ul > li > label {
    margin-right: 10px;
    width: 70px;
}

.phone-li > div > input,
.birth-li > div > input {
    width: 50px;
    /* margin: 0 5px; */
}