* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-222);
}

/* color list */
:root {
    --color-666: #666; /* cgv 로그인 ~ 고객센터 폰트 컬러*/
    --color-black: #000;
    --color-222: #222; /*cgv font color*/
}

/* 공통 요소 */
.main-content-title {
    font-size: 26px;
}